
.hello {
    margin:0;
}

.hello span {
    color: #00ffbf;
    font-weight: 600;
}

.title {
        font-size: 27px;

    margin:0;
}

.title span{
    font-size: 50px;
    margin: 10px 0;
    color: #00ffbf;
}

.description {
    margin: 0px;
    font-size: 17px;
    color: #ccc;
    max-width: 600px;
    text-align: justify;
    line-height: 1.2;
}

.container {
    margin-top: 150px;
    margin-left: 120px;
}
