
.main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0px 200px;
}

.hello {
    margin:0;
}

.hello span {
    color: #00ffbf;
    font-weight: 600;
}

.title {
        font-size: 27px;

    margin:0;
}

.title span{
    font-size: 50px;
    margin: 10px 0;
    color: #00ffbf;
}

.description {
    margin: 0px;
    font-size: 17px;
    color: #ccc;
    max-width: 600px;
    text-align: justify;
    line-height: 1.2;
}

.container {
}


.btn_container {
    /* border: 3px solid rgba(255,255,255,0.08);
       border-radius: 6px; */
    padding: 15px 12px;

    display: flex;
    align-items: center;
}

.github_icon {
    margin-left: 20px;
    font-size: 28px;
    color: white;
    transition: transform 0.3s;
}

.github_icon:hover {
  transform: scale(1.2);
}

.github_icon {
  display: inline-block;
}

/* Avatar */
.intro_image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #00ffbf;
  box-shadow: 0 0 20px #00ffbf;
  animation: 
    pulse 2s infinite,
    float 3s ease-in-out infinite;

}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes pulse {
  0% { box-shadow: 0 0 15px #00ffbf; }
  50% { box-shadow: 0 0 30px #00ffbf; }
  100% { box-shadow: 0 0 15px #00ffbf; }
}
