.container {
    background-color: #0f0f0f;
    display: flex;
    padding: 15px 35px 15px 35px; 
    justify-content: space-between;

}

.container h1{
    margin: 0;
}

.navLinks{
    display: flex;
    align-items: center;

}

.navLinks a {
  margin-left: 30px;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}
