.contactSection {
  padding: 70px 0;
  background: #0d0d0d;
  color: white;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 40px;
  color: #ccc;
}

.container {
  margin: 80px 190px 0px 190px;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: flex-start;
}

.info {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #0dd;
  padding-bottom: 12px;
}

.infoItem h4 {
  margin: 0;
  font-size: 16px;
  color: #0dd;
}

.infoItem p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}

/* FORM */
.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input,
.textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #0dd;
  background: transparent;
  color: white;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

.input::placeholder,
.textarea::placeholder {
  color: #aaa;
}

.textarea {
  height: 140px;
  resize: none;
}

.sendBtn {
  width: 120px;
  padding: 8px 0;
  border: 1px solid #0dd;
  background: transparent;
  color: #0dd;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: flex-start;
}

.sendBtn:hover {
  background: #0dd;
  color: black;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 221, 221, 0.5);
}

.notice {
  font-size: 12px;
  color: #888;
  margin-top: 10px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
  .info,
  .form {
    width: 100%;
  }
  .sendBtn {
    align-self: center;
  }
}
