body {
  margin: 0;
  background-color: #0a0a0a;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #000;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.nav-links a {
  margin-left: 30px;
  text-decoration: none;
  color: #aaa;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #00ffbf;
}

/* Intro Section */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 120px;
  gap: 50px;
}

.intro-text {
  flex: 1;
  max-width: 550px;
}

.hello {
  font-size: 18px;
  color: #aaa;
}

.hello span {
  color: #00ffbf;
  font-weight: 600;
}

.title {
  font-size: 48px;
  margin: 10px 0;
}

.highlight {
  color: #00ffbf;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: #ccc;
  margin-top: 15px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.cv-btn {
  background-color: #00ffbf;
  color: #000;
  font-weight: 600;
  padding: 12px 28px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s;
}

.cv-btn:hover {
  transform: scale(1.05);
}

.github-icon {
  font-size: 28px;
  color: white;
  transition: color 0.3s;
}

.github-icon:hover {
  color: #00ffbf;
}

/* Avatar */
.intro-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #00ffbf;
  box-shadow: 0 0 20px #00ffbf;
  animation: 
    pulse 2s infinite,
    float 3s ease-in-out infinite;

}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes pulse {
  0% { box-shadow: 0 0 15px #00ffbf; }
  50% { box-shadow: 0 0 30px #00ffbf; }
  100% { box-shadow: 0 0 15px #00ffbf; }
}


/* Animation cho chữ chuyển đổi */
.animate-word {
  display: inline-block;
  position: relative;
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(10px); }
  20% { opacity: 1; transform: translateY(0); }
  80% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}
