/* Mặc định: nền trắng */
.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

/* Khi màn hình nhỏ hơn hoặc bằng 1400px */
@media (max-width: 1400px) {
  .App {
    background-color: lightblue;
    color: darkblue;
  }
}
